<%= erb :header %>
<div class="container">
<h1 class="text-center">Items Detail</h1>
<div><h4>Item Name: <%= detail[0].name%></h4></div>
<div><h4>Item Price: <%= detail[0].price%></h4></div>
<div><h4>Item Category: <%= detail[0].category.name%></h4></div>

</div>
<%= erb :footer %>